// ----------------------- GENERAL FOR BODY ----------------------
//

@import './common_files/common_style';



$color-bg: #004980;

$color-block-1: #c2f5ff;
$color-block-2: #fff;

$color-text-1: $color-bg;
$color-text-2: #0080c1;
$color-text-3: $color-block-2;
$color-text-4: #000;

$color-all-1: #7ac100;

// -------------------------- FOR PAGE ----------------------
//
body {
  font-family: 'StratosSkyeng';

  background-color: $color-bg;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

main {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  gap: 0px;
}



#app {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 0px;
}

.screen {
  & {
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 100%;
    width: 100%;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &BG {
    opacity: 0;
  }

  &Cover {
    position: absolute;
    height: 100vh;
    width: 100vw;

    display: none;
  }

  &Box {
    box-sizing: content-box;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow-x: auto;
    overflow-y: hidden;

    gap: 20px;
  }

  & .screenBlock {
    &_popUpMessage {
      &_msgDisplay {
        position: absolute;
        top: 0vh;
        left: 0vw;
        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &_msgBox {
        width: 480px;
        height: 300px;

        background: $color-bg;
        border-radius: 6px;
        border: 1px solid $color-block-2;

        padding: 40px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        overflow: hidden;
      }

      & p {
        height: max-content;

        font-style: normal;
        font-weight: 300;
        font-size: 22px;

        color: $color-block-2;

        text-align: justify;
      }
    }

    &_gameTimer {

      &_Box {
        display: flex;
        flex-direction: row;
      }

      &_SubBox {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        & * {
          font-style: normal;
          color: $color-text-3;
        }

        & p {
          font-weight: 400;
          font-size: 16px;
        }

        & h1 {
          font-weight: 400;
          font-size: 64px;
        }
      }
    }
  }
}

.modal {
  & {
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &BG {
    position: absolute;

    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;

    background-color: $color-bg;
    opacity: 0.9;

    z-index: 1;
  }

  &Cover {
    position: absolute;
    height: 100vh;
    width: 100vw;

    display: none;
  }

  &Box {
    width: 480px;
    height: 459px;

    background: $color-block-1;
    border-radius: 12px;

    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 28px;

    z-index: 2;
  }

  & .modalBlock {
    &_modalTitle_txt {
      max-width: 300px;
      min-height: 48px;

      font-style: normal;
      font-size: 40px;
      font-weight: 800;
      line-height: 48px;

      text-align: center;

      color: $color-text-1;
    }


    &_gameTimer {

      &_Box {
        display: flex;
        flex-direction: row;
      }

      &_SubBox {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        & * {
          font-style: normal;
          color: $color-text-4;
        }

        & p {
          font-weight: 400;
          font-size: 16px;
        }

        & h1 {
          font-weight: 400;
          font-size: 64px;
        }
      }
    }
  }
}

// -------------------------- MOBILE VERSION ----------------------
//
@media (max-width: 768px) {}
